<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tạo việc làm</title>

    <%- include('./head') %>

    <link rel="stylesheet" href="public/css/nav.css">
    <link rel="stylesheet" href="public/css/create-job.css">
</head>
<body>
    <div class="container">
        <%- include('./nav', {data: typeof(data) == 'undefined' ? {role: 'client'} : data}) %>

        <div id="create-job">
            <table class="table table-borderless">
                <form action="create-job" method="POST">
                    <tr>
                        <td class="title">Tiêu đề</td>
                        <td>
                            <input name="title" type="text" class="form-control" placeholder="e.g Lập trình viên" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">Địa chỉ</td>
                        <td>
                            <input name="location" type="text" class="form-control" placeholder="Hà Nội" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">Mô tả</td>
                        <td>
                            <textarea name="description" class="form-control" rows="2" placeholder="Quyền lợi làm việc..." required></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">Lương từ</td>
                        <td>
                            <input name="salaryFrom" type="number" class="form-control" placeholder="0" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">Lương đến</td>
                        <td>
                            <input name="salaryTo" type="number" class="form-control" placeholder="0" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">Ngày hết hạn</td>
                        <td>
                            <input name="outDate" type="date" class="form-control" required>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button class="btn btn-primary" type="submit">Tạo việc làm</button>
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</body>
</html>