<footer class="page-footer font-small blue pt-4" style="background: rgb(44, 44, 46); color: white;">
    <div class="container">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">For Candidates</h5>
            
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Register</a>
                        </li>
                        <li>
                            <a href="#!">Find Jobs</a>
                        </li>
                        <li>
                            <a href="#!">Apply Jobs</a>
                        </li>
                        <li>
                            <a href="#!">Save Jobs</a>
                        </li>
                        <li>
                            <a href="#!">Search Jobs</a>
                        </li>
                    </ul>
                </div>
            
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Archives</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">June 2020</a>
                        </li>
                        <li>
                            <a href="#!">July 2020</a>
                        </li>
                        <li>
                            <a href="#!">August 2020</a>
                        </li>
                        <li>
                            <a href="#!">September 2020</a>
                        </li>
                        <li>
                            <a href="#!">October 2020</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Company</h5>
            
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">About</a>
                        </li>
                        <li>
                            <a href="#!">Team</a>
                        </li>
                        <li>
                            <a href="#!">Terms & Policies</a>
                        </li>
                        <li>
                            <a href="#!">Contact Us</a>
                        </li>
                    </ul>
                </div>
            
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Contact Info</h5>
                    <ul class="list-unstyled">
                        <li>
                            <span class="d-block text-white">Address</span>
                            <span style="color: rgb(117, 114, 114)">New York - 2398 10 Hadson Carl Street</span>
                        </li>
                        <li>
                            <span class="d-block text-white">Telephone</span>
                            <span style="color: rgb(117, 114, 114)">+1 232 305 3930</span>
                        </li>
                        <li>
                            <span class="d-block text-white">Email</span>
                            <span style="color: rgb(117, 114, 114)">info@yourdomain.com</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
    </div>
</footer>