<div class="carousel slide" data-ride="carousel" data-interval="5000">
    <div class="carousel-item active">
        <img src="public/images/slide1.jpg" class="d-block w-100">
        <p class="introduce-website">Bạn vẫn đang loay hoay để tìm kiếm công việc phù hợp với mình?</p>
    </div>
    <div class="carousel-item">
        <img src="public/images/slide2.jpg" class="d-block w-100">
        <p class="introduce-website">Bạn đang đăng job tuyển người, nhưng vẫn chưa tìm thấy ứng viên phù hợp?</p>
    </div>
    <div class="carousel-item">
        <img src="public/images/slide3.jpg" class="d-block w-100">
        <p style="width: 80%; top: 70px; " class="introduce-website">Hãy đến với Jobstart, sứ mệnh của chúng tôi là mang những ứng viên tiềm năng và những công ty lại với nhau</p>
    </div>
    <div id="search">
        <form id="search-normal" class="form-inline">
            <div class="form-group mb-2">
                <input type="text" class="form-control-plaintext" placeholder="eg. ">
            </div>
            <select class="form-control" style="border: 1px solid black; margin-top: -9px;">
                <option>Ngành nghề</option>
            </select>
            <div class="form-group mb-2">
                <input type="text" class="form-control-plaintext" placeholder="Location">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Tìm kiếm</button>
        </form>
    </div>
</div>