<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">DÀNH CHO ADMIN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="justify-content: flex-end;">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/manage-main">Trang chủ</span></a>
            <a class="nav-item nav-link" href="/manage-jobs">Quản lí công việc</a>
            <a class="nav-item nav-link" href="/manage-companies">Quản lí công ty</a>
            <a class="nav-item nav-link" href="/manage-users">Quản lí người dùng</a>
        </div>
    </div>
</nav>