<nav style="justify-content: space-between; background-color: white !important;" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" style="font-size: 40px;">Job<b>start</b></a>

    <ul class="navbar-nav">
        <% if (data.role == 'client') {%>
            <li class="nav-item">
                <a class="nav-link" href="/">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/find-job">Tìm việc ngay</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create-job">Tạo việc làm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Đăng nhập</a>
            </li>
        <%} else if(data.role == 'company_user') {%>
            <li class="nav-item">
                <a class="nav-link" href="/">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my-company">Công ty của tôi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Quản lí việc</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create-job">Tạo việc làm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signout">Đăng xuất</a>
            </li>
            <li class="nav-item">
                <% if(data.image == null) {%>
                <a href="/"><img class="avatar" src="public/images/default-company.png"></a>
                <%} else {%>
                <a href="/"><img class="avatar" src="<%= data.image %>"></a>
                <% } %>
            </li>
        <%} else if(data.role == 'candidate_user') {%>
            <li class="nav-item">
                <a class="nav-link" href="/">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Loại công việc</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/find-job">Tìm việc ngay</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signout">Đăng xuất</a>
            </li>
            <li class="nav-item">
                <% if(data.image == null) {%>
                <a href="/"><img class="avatar" src="public/images/default-image.png"></a>
                <%} else {%>
                <a href="/"><img class="avatar" src="<%= data.image %>"></a>
                <% } %>
            </li>
        <%}%>
    </ul>
</nav>
