<nav style="justify-content: space-between; background-color: white !important;" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" style="font-size: 40px;">Job<b>start</b></a>

    <ul class="navbar-nav">
        <% if (data.role == 'client') {%>
            <li class="nav-item">
                <a class="nav-link" href="#">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tìm việc ngay</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tạo việc làm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Đăng nhập</a>
            </li>
        <%} else if(data.role == 'company_user') {%>
            <li class="nav-item">
                <a class="nav-link" href="#">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tìm việc ngay</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Công ty của tôi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Quản lí việc</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tạo việc làm</a>
            </li>
            <li class="nav-item">
                <img src="public/images/default-image.png" style="width: 38px; height: 38px;border-radius: 50%; border: 1px solid #dee2e6;">
            </li>
        <%} else if(data.role == 'candidate_user') {%>
            <li class="nav-item">
                <a class="nav-link" href="#">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Loại công việc</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tìm việc ngay</a>
            </li>
            <li class="nav-item">
                <img src="public/images/default-image.png" style="width: 38px; height: 38px;border-radius: 50%; border: 1px solid #dee2e6;">
            </li>
        <%}%>
    </ul>
</nav>
