<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <%- include('./head') %>
    <script src='https://cdn.tiny.cloud/1/rxgs9sh11xrrtdfs2vtike5rt1takia2bbre0z2iiibwnt26/tinymce/5/tinymce.min.js' 
            referrerpolicy="origin"
            crossorigin="anonymous">
    </script>
    <script>
        tinymce.init({
            selector: "textarea",
            setup: function (editor) {
                editor.on('change', function () {
                    tinymce.triggerSave();
                });
            },
            content_style: 'p {margin: 2px}'
        });
    </script>
    <style>
        p {
            padding: 0;
            margin: 2px 0;
        }
    </style>
</head>
<body>
    <% if(typeof(msg) != 'undefined' && typeof(fullname) != 'undefined') {%>
        <span style="color: red;"><%=msg%><a href="#"><%=fullname%></a> nào!</span>
    <% } %>
    <% if(typeof(title) != 'undefined') {%>
        <h3><%=title%></h3>
    <% } %>
    <table class="table table-borderless">
        <tbody>
            <tr>
                <th scope="row">Tiêu đề email</th>
                <td style="width: 90%;">
                    <input type="text" class="form-control" style="width: 43%;" id="subject" required>
                </td>
            </tr>
            <tr>
                <th scope="row">Nội dung</th>
                <td style="width: 90%;">
                    <textarea id="content" rows="15" required></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="btn btn-primary" style="width: 100px;" id="send" type="button">Gửi</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
<script>
    $('#send').click(function(e){
        var subject = document.getElementById("subject").value;
        var content = $('#content').val();
        $.ajax({
            url: '/send-mail',
            type: 'POST',
            data: {
                subject: subject,
                content: content
            }
        }).then(function(data) {
            alert(data);
        })
    })
</script>
</html>