<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng kí</title>

    <%- include('./head') %>
</head>
<body style="background: rgb(76, 68, 68);">
    <div id="signup" style="border: 1px solid black; display: inline-block; width: 300px; background: white; margin: 7% 0% 0% 38%;">
        <div id="title" style="margin: 5px 28px;">
            <button onclick="candidateClicked()" class="btn btn-primary">Cho ứng viên</button>
            <button onclick="companyClicked()" class="btn btn-primary">Cho công ty</button>
        </div>
        <div id="candidate" class="container">
            <img src="public/images/default-image.png" alt="" style="border-radius: 50%; border: 1px solid #dee2e6; margin: 9px 15px">
            <form action="/signup" method="POST">
                <input name="emailCandidate" type="email" placeholder="Email" style="width: 100%; margin:7px 0px;" required>
                <input name="passwordCandidate" type="password" placeholder="Password" style="width: 100%; margin: 7px 0px;" required>
                <input name="fullname" type="text" placeholder="Fullname" style="width: 100%; margin: 7px 0px;" required>
                <button type="submit" style="width: 100%; margin: 7px 0px;" class="btn btn-primary">Đăng kí</button>
            </form>
        </div>
        <div id="company" style="display: none;" class="container">
            <img src="public/images/default-company.png" alt="" style="border-radius: 50%; border: 1px solid #dee2e6; margin: 9px 15px; width: 225px;">
            <form action="/signup" method="POST">
                <input name="emailCompany" type="email" placeholder="Email" style="width: 100%; margin:7px 0px;" required>
                <input name="passwordCompany" type="password" placeholder="Password" style="width: 100%; margin: 7px 0px;" required>
                <input name="company" type="text" placeholder="Company" style="width: 100%; margin: 7px 0px;" required>
                <button type="submit" style="width: 100%; margin: 7px 0px;" class="btn btn-primary">Đăng kí</button>
            </form>
        </div>
    </div>
</body>
    <script>
        var candidate = document.getElementById('candidate');
        var company = document.getElementById('company');

        function candidateClicked() {
            candidate.style.display = "block";
            company.style.display = "none";
        }
            
        function companyClicked() {
            candidate.style.display = "none";
            company.style.display = "block";
        }
    </script>
</html>