#search {
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 25px;
}

.search-normal {
    margin: 10px 20px;
}

.search-advance {
    margin-left: 618px;
}

/* .job {
    border: 1px solid rgb(211, 203, 203);
    margin-bottom: 10px;
} */
.item {
    /* border: 1px solid rgb(211, 203, 203); */
    margin-bottom: 5px;
    background: white;
}

.item:hover, .item:focus {
    -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
    top: -4px;
    z-index: 2;
}

.job img {
    width: 100px;
}

.job .title-item {
    position: absolute;
    top: 4px;
    left: 125px;
}

.job .company {
    position: absolute;
    top: 35px;
    margin-left: 10px;
    font-size: 15px;
}

.job .salary {
    position: absolute;
    top: 68px;
    margin-left: 10px;
    font-size: 15px;
}

.job .location {
    position: absolute;
    top: 68px;
    left: 315px;
    font-size: 15px;
}

.job a {
    position: absolute;
    font-size: 15px;
    left: 470px;
    text-decoration: none;
    top: 35px;
}

.job .salary i {
    color: rgb(124, 124, 245);
}

.job .location i {
    color: rgb(124, 124, 245);
}