.job img {
    width: 245px;
    height: 191px;
}

.job h1 {
    position: absolute;
    top: -5px;
    margin-left: 261px;
    color: #0ba25e;
}

.job .company {
    position: absolute;
    top: 53px;
    margin-left: 263px;
}

.job .salary {
    position: absolute;
    top: 108px;
    margin-left: 19px;
}

.job .location {
    position: absolute;
    top: 108px;
    margin-left: 230px;
}

.job .out-date {
    position: absolute;
    top: 160px;
    margin-left: 19px;
}

.job #apply {
    position: absolute;
    left: 920px;
    top: 45px;
}

.job #save {
    background: rgba(0,0,0,.05);
    position: absolute;
    left: 920px;
    top: 90px;
    padding: 6px 21px;
}

