.introduce-website {
    position: absolute; 
    top: 50px; 
    width: 55%; 
    font-size: 48px;
}

#search-normal {
    justify-content: space-between; 
    margin: 10px 20px;
}

#search-normal input {
    border: 1px solid black; 
    text-indent: 14px;
}

#search {
    position:absolute; 
    width: 65%; 
    background: white; 
    top: 250px; 
    height: 100px;
}

.carousel-item img {
    width: 1348px !important;
    margin-left: -119px;
    height: 400px;
}

#sign-in {
    display: none;
}

.search-advance {
    margin-left: 552px;
    display: inline-block;
}

.title {
    width: 111px;
}