.avatar {
    width: 38px; 
    height: 38px;
    border-radius: 50%; 
    border: 1px solid #dee2e6;
}

#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    overflow: visible;
    position: absolute;
    top: 36px;
    margin-left: -326px;
    width: 360px;
    z-index: 3;
    display: none; 
}
#notificationTitle
{
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    background-color: #ffffff;
    position: fixed;
    z-index: 1000;
    width: 384px;
    border-bottom: 1px solid #dddddd;
}
#notificationsBody{
    padding: 20px 0px 0px 15px !important;
    /* min-height:300px; */
}
#notificationFooter{
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}

#notification_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    left: 26px;
    border-radius: 9px;
    -moz-border-radius: 9px; 
    -webkit-border-radius: 9px;
    position: absolute;
    font-size: 11px;
}

#notificationLink {
    margin: 0px 20px 0px 5px;
}
